body{
   
}
#tree-structure{
    width: 100%;
    height: 100%;
}
#tree{
    margin-top: 5%;
    display:none;
    width: 98%;
    height: 100%;
    margin-left:  1%;
    
    background-image: url(world-mapl.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;  
        
}

.red{
    border: 2px solid crimson;
}
.blue{
    border: 2px solid #004ba0;
}
.grey{
    border: 2px solid grey;
}
.root{
    display: block;
    width: 14%;
    height: 4rem;
    margin-left: 43%;
    margin-right:43%;
    background-color: crimson;
    border: 2px solid crimson;
    border-radius: 50%;
    font-size: 1.1rem;
    
}
span{
    font-size: 1rem;
}
svg{
    width: 100%;
    height: 80px;
    margin: 0;
    
}
#level1{
    width: 100%;
    padding: 0px;
    margin:0;
   
}
#level1{
    display:none;
}
#box1, #box2, #box3, #box4, #box1-2, #box2-2, #box3-2, #box4-2 {
    visibility: visible; 
}
.level1{
    display:inline-block;
    
    height: 5rem;
    margin-left:1%;
    margin-right:1%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 50%;
    
    
}
.box{
    display: inline-block;
    width: 24.5%;
    margin: 0;
    
}

.level2{
    display:inline-block;
    width: 22%;
    height: 2.5rem;
    
    border-radius: 50%;
    
}

.line{
    stroke:grey;
    stroke-width:2;
}

#headhash{
    font-size: 1.3rem;
    margin-left: 35%;
    width: 30%;
}
#new{
    margin-left: 5rem;
}